//Color-sheme-start
$ping: #C2185B;
$fb-color: #2E4CA6; // color facebook
$vk-color: #00538A; // color vkontakte
$tw-color: #3699EB; // color twitter
$bh-color: #000; // color behance
//Color-sheme-end
