extends _layout

block content
  each value in tumbnail
    .work
      a(href='#{value.pageUrl}')
        img.media(src='#{value.imgUrl}', alt='')
        .caption
          .work_title
            h1= value.title
