extends _layout

block content
  h1 Page Ux/Ui 
  each value in tumbnail
    .work
      a(href='#{value.pageUrl}')
        img.media(src='#{value.imgUrl}', alt='')
  //p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Меня, вопрос страна своего текста, маленькая рыбного рукопись инициал толку, запятой встретил продолжил языком щеке, курсивных всемогущая наш языкового буквенных?
